name: Deploy Site

on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Build
        uses: jerryjvl/jekyll-build-action@v1

      - name: Upload build
        uses: actions/upload-artifact@v4.6.2
        with:
          name: site
          path: _site
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download build
        uses: actions/download-artifact@v5.0.0
        with:
          name: site
          
      - name: Copy site to host
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: "*"
          target: "/home/hugh/homelab/docker/www/hughevans.dev/html"
      
